* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  background: url('https://w0.peakpx.com/wallpaper/104/410/HD-wallpaper-cup-of-coffee-coffee-cup-smoke.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}
.nav-bar .title {
  color: #fff;
  font-size: 67px;
  font-weight: 600;
  cursor: pointer;
}
span {
  color: crimson;
}
.nav-bar p {
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.menue li {
  list-style: none;
  display: inline-block;
}
.menue li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-left: 25px;
  transition: ease;
}
.menue li a:hover {
  color: rgb(200, 55, 84);
  padding: 8px, 25px;
  border: 3px solid #fff;
}
.home {
  height: 400px;
  padding: 50px;
}
.title-1 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}
.home p {
  color: lemonchiffon;
  font-size: 15px;
  padding-top: 10px;
}
.home button {
  height: 35px;
  color: #fff;
  background: crimson;
  font-size: 22px;
  padding: 5px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  transition: 0.4s ease;
  cursor: pointer;
}
.home button:hover {
  background: none;
  border: 2px solid crimson;
}
